h1 map

main-map-course('(select_course)'="loadCourse($event)")

form.form-horizontal('[formGroup]'="form")
  .card
    .card-body
      .form-group
        label Name
        input.form-control(type="text" formControlName="name" placeholder="Name")

.buttons
  ng-container(*ngIf="showOptions && form.valid")
    button.btn.btn-info.btn-sm(type="button" '(click)'="saveCourse()" '[disabled]'="!enableOptions") Save course
  button.btn.btn-info.btn-sm(type="button" '(click)'="startTracking()" '[disabled]'="!destination_marker") Start Tracking
  button.btn.btn-info.btn-sm(type="button" '(click)'="initializeCurrentLocation()") Reset

.map.match-parent(id="map")